@media screen and (min-width: 540px) {
 
/********************************************************
Navigation
*********************************************************/
header{
height:10%;
background:blue;
}


nav ul { 

display:inline-block;
padding:2.5%;
}
nav ul li {


}
}

/********************************************************
Two column layout 
*********************************************************/


/********************************************************
Portfolio Page 
*********************************************************/


/********************************************************
About Page 
*********************************************************/

@media screen and (min-width:660px){ 
 /********************************************************
Header
*********************************************************/



    
